.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src
rollup-configs
rollup.config.js
node_modules
dist
docs
scripts
CHANGELOG.md
README.md
build.sh
